html, body{
    font-family: sans-serif;
    background-image: url(../assets/pexels-philippedonn-1169754.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#first-div{
    border: 1px solid white;
    border-radius: 25px;
    margin: 20px;
    backdrop-filter: blur(2px);
}
p{
    padding: 20px;
    color: white;
    font-size: 20px;
}
nav{
    width: 525px;
    border: 1px solid white;
    border-radius: 25px;
    text-decoration: none;
    padding: 10px;
    backdrop-filter: blur(4px);
}
a{
    text-decoration: none;
    color: rgb(175, 175, 175);
    font-size: 25px;
    padding: 10px;
    margin: -2px;
}
a:hover{
    color: white;
}
#about{
    color: white;
}
#github{
    color: yellow;
    font-size: 20px;
    padding: 0;
    text-decoration: underline;
}
@media(max-width:700px){
    html, body{
        font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
        background-image: url(../assets/pexels-philippedonn-1169754.jpg);
    }
    p{
        font-size: 20px;
    }
    nav{
        width: 325px;
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid white;
        border-radius: 25px;
        text-decoration: none;
        padding: 5px;
        backdrop-filter: blur(2px);
        display: inline block;
    }
    a{
        text-decoration: none;
        color: rgb(175, 175, 175);
        font-size: 15px;
        padding: 10px;
        margin: -2px;
    }
}